{% extends 'base.html.twig' %}

{% block title %}Liste des chambres{% endblock %}

{% block main %}
    <h1>Liste des chambres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Résumé</th>
                <th>Capacité</th>
                <th>Superficie</th>
                <th>Prix</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set panier = app.session.get('panier') %}
        {% dump(panier) %}
        
        {% for room in rooms %}
        	{% if room.id in panier %}
            <tr class="table-warning">
            {% else %}
            <tr>
            {% endif %}
                <td>{{ room.id }}</td>
                <td>{{ room.summary }}</td>
                <td>{{ room.capacity }} personnes</td>
                <td>{{ room.superficy }} m^2</td>
                <td>{{ room.price }}€</td>
                <td>{{ room.address }}</td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}" class='btn btn-outline-info'>Voir</a>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('room_edit', {'id': room.id}) }}" class='btn btn-outline-secondary'>Editer</a>
                    {% endif %}
                    <a href="{{ path('room_mark', {'id': room.id}) }}" class='btn btn-outline-warning'>{% if room.id in panier %}Démarquer{% else %}Marquer{% endif %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune chambre trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{% if is_granted('ROLE_USER') %}
    <a href="{{ path('room_new') }}" class='btn btn-success'>Créer une nouvelle chambre</a>
    {% endif %}
{% endblock %}
