{% extends 'base.html.twig' %}

{% block title %}{{ room.summary }}{% endblock %}

{% block main %}
    <h1>{{ room.summary }}</h1>

    <table class="table">
        <tbody>
        	<tr>
    			<th>Image</th>
    			<td><img src="{{ vich_uploader_asset(room, 'imageFile') }}"/></td>
			</tr>
            <tr>
                <th>Id</th>
                <td>{{ room.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ room.description }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ room.capacity }} personnes</td>
            </tr>
            <tr>
                <th>Superficie</th>
                <td>{{ room.superficy }} m^2</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ room.price }}€</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ room.address }}</td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <h3>Région(s): </h3>
    
    {% if room.regions == null %}
    <p>Aucune région pour l'instant</p>
    {% else %}
    	<table class="table table-borderless">
    		<tbody>
            {% for region in room.regions %}
        		<tr>
        			<td>{{ region.name }}<td>
        			<td><a href="{{ path('region_show', {'id': region.id}) }}" class='btn btn-outline-info'>Voir la région</a>
        		</tr>
            {% endfor %}
        	</tbody>
        </table>
    {% endif %}
    
    
    <h3>Propriétaire :</h3>
    <ul>
    	<li>Nom : {{ room.owner.familyName }}</li>
    	{% if room.owner.firstName != null %}
    	<li>Prénom : {{ room.owner.firstName }}</li>
    	{% endif %}
    	{% if room.owner.country != null %}
    	<li>Code Pays : {{ room.owner.country }}</li>
    	{% endif %}
    </ul>
    
    {% set panier = app.session.get('panier') %}
    {% dump(panier) %}
    <br>
    {% if room.id in panier %}
    <h3>Dans le panier : OUI </h3>
    {% else %}
    <h3>Dans le panier : NON </h3>
    {% endif %}
    
    <a href="{{ path('room_mark', {'id': room.id}) }}" class='btn btn-outline-warning'>{% if room.id in panier %}Démarquer{% else %}Marquer{% endif %}</a>
	<br><br><br>
    <a href="{{ path('room_index') }}" class='btn btn-outline-dark'>Retour à la liste</a>
	{% if is_granted('ROLE_USER') %}
    <a href="{{ path('room_edit', {'id': room.id}) }}" class='btn btn-outline-secondary'>Editer</a>
    {{ include('room/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
