{% extends 'base.html.twig' %}

{% block title %}Propriétaire : {{ owner.familyName }}{% endblock %}

{% block main %}
    <h1>M/Mme.{{ owner.familyName }}</h1>

    <table class="table">
        <tbody>
        	<tr>
    			<th>Image</th>
    			<td><img src="{{ vich_uploader_asset(owner, 'imageFile') }}"/></td>
			</tr>
            <tr>
                <th>Id</th>
                <td>{{ owner.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ owner.firstname }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ owner.familyName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ owner.address }}</td>
            </tr>
            <tr>
                <th>Code pays</th>
                <td>{{ owner.country }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h3>Liste des chambres : </h3>
    
    {% if owner.rooms == null %}
    <p>Aucune chambre pour l'instant</p>
    {% endif %}
    <table class="table table-borderless">
    	<tbody>
        {% for room in owner.rooms %}
        	<tr>
        		<td>{{ room.summary }}<td>
        		<td><a href="{{ path('room_show', {'id': room.id}) }}" class='btn btn-outline-info'>Voir la chambre</a></td>
        	</tr>
        {% endfor %}
        	<tr>
				<td><a href="{{ path('room_addtoowner', {'id': owner.id}) }}" class='btn btn-outline-success'>Ajouter une chambre</a></td>
          	</tr>
        </tbody>
	</table>
 
    
     
    
    

    <a href="{{ path('owner_index') }}" class='btn btn-outline-dark'>Retour à la liste</a>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('owner_edit', {'id': owner.id}) }}" class='btn btn-outline-secondary'>Editer</a>
    {{ include('owner/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
