{% extends 'base.html.twig' %}

{% block title %}{{ region.name }}{% endblock %}

{% block main %}
    <h1>{{ region.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region.id }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ region.presentation }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ region.country }}</td>
            </tr>
        </tbody>
    </table>
    
    <br>
    <h3>Chambres de la région : </h3>
     {% set panier = app.session.get('panier') %}
        {% dump(panier) %}
    {% if region.rooms == null %}
    <p>Aucune chambre pour l'instant</p>
    {% else %}
    	<table class="table table-borderless">
    		<tbody>
            {% for room in region.rooms %}
            	{% if room.id in panier %}
        		<tr class="table-warning">
        		{% else %}
        		<tr>
        		{% endif %}
        			<td>{{ room.summary }}<td>
        			<td><a href="{{ path('room_show', {'id': room.id}) }}" class='btn btn-outline-info'>Voir la chambre</a>
        				<a href="{{ path('room_mark', {'id': room.id}) }}" class='btn btn-outline-warning'>{% if room.id in panier %}Démarquer{% else %}Marquer{% endif %}</a>
        		</tr>
            {% endfor %}
        	</tbody>
        </table>
    {% endif %}

    <a href="{{ path('region_index') }}" class='btn btn-outline-dark'>Retour à la liste</a>

    <a href="{{ path('region_edit', {'id': region.id}) }}" class='btn btn-outline-secondary'>Editer</a>

    {{ include('region/_delete_form.html.twig') }}
{% endblock %}
